html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    display: flex;
}



.container-left {
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    flex: 1;
    z-index: 2;

    nav {
        width: 100%;
        height: 70px;
        padding: 15px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        font-family: 'Roboto', sans-serif;
    }

    .logo {
        width: 50px;
        height: 50px;
    }

    ul.desktop-menu {
        width: 100%;
        display: flex;
        justify-content: space-evenly;
        align-content: center;
        @media screen and (max-width: 990px) {
            display: none;
        }
    }

    ul.mobile-menu {
        display: none;
    }

    li {
        width: 100%;
        height: 25px;
        margin: auto;
        display: flex;
    }
    li:hover {
        color: #088;
    }

    li a {
        width: 100%;
        color: #666;
        text-align: center;
        text-decoration: none;
    }
    li a:hover {
        color: #088;
    }

    .active {
        border-bottom: 2px solid #088;
    }

    .active a {
        color: #088;
    }

    .icon{
        font-size: 47px;
        color: black;
        display: none;
        @media screen and (max-width: 990px) {
            display: block;
        }
    }

    h1 {
        width: 100%;
        margin: 0;
        font-family: 'Roboto', sans-serif;
        text-transform: uppercase;
        font-size: 48px;
    }

    section {
        width: 80%;
        height: 60%;
        margin: auto;
        align-content: center;
    }

    section p {
        margin: 0 0 50px 0;
        font-family: 'Roboto', sans-serif;
    }

    section a {
        color: #666;
        text-decoration: none;
        font-style: italic;
    }

    form {
        width: 110%;
        height: 58px;
        display: flex;
        align-items: center;

        @media screen and (max-width: 990px) {
            flex-wrap: wrap;
            justify-content: center;
            width: 100%;
        }
    }

    .arrow {
        display: flex;
        align-items: center;
        margin-left: 20px;
        height: 58px;
        color: #bebebe;

        @media screen and (max-width: 990px) {
            width: 15%;
        }
    }

    .radius {
        width: 130%;
        height: 58px;
        border-radius: 29px;
        background-color: #fff;
        box-shadow: 0px 0px 50px 0px #cc8;

        @media screen and (max-width: 990px) {
            width: 100%
        }
    }

    input {
        width: 80%;
        height: 58px;
        border: 0px solid;
        font-size: 18px;
        background-color: transparent;
        text-indent: 25px;
        outline: none;

        @media screen and (max-width: 990px) {
            width: 80%;
        }
    }

    button {
        width: 150px;
        height: 50px;
        margin: 4px;
        border: 0px solid;
        border-radius: 29px;
        text-align: center;
        transition: 0.75s;
        background-color: #258391;
        font-family: 'Roboto', sans-serif;
        color: white;
        font-size: 15px;

        @media screen and (max-width: 990px) {
            margin-top: 15px;
        }
    }

    button:hover{
        border: 1px solid lightgrey;
        transition: 0.5s;
        background-color: white;
        color: black;
        cursor: pointer;
    }

    .mdp {
        width: 100%;
        margin-top: 25px;
        text-align: center;

        @media screen and (max-width: 990px) {
            margin-top: 70px;
        }
    }

    .toggle {
        width: 100%;
        padding: 10 px 20px;
        background: white;
        text-align: right;
        box-sizing: border-box;
        color: black;
        font-size: 30px;
        display: none;
    }
}


.container-right {
    display: flex;
    flex: 1.5;
    z-index: 1;
    background-image: url('img/back.png');
    background-size: cover;
}

/*Adapter à la taille des écrans*/

@media screen and (max-width: 990px) {
    /* CSS appliqué aux petits écrans */
    input {
        background-color: #088;

    }
    button {
        background-color: antiquewhite;
    }
    .container-right {
        display: none;
    }
    .container-left {
        background-image: url('img/Group.svg');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        width: 100%;
    }
    .radius {
        width: 100%;
        flex-wrap: wrap;
    }
    form {
        width: 100%;
        height: 42px;
        display: flex;
    }
    

    .desktop-menu {
        display: none;
    }
}